apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-dfgzgwrt
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-dfgzgwrt:8afaa75d8ffb0452fd3ba25135127351303bc577@sha256:7fde9aaa99d0313d7859e00067642e085c95afe1d30333c79539c0601ec4d1c9
        name: container-image  
